<table property="hasMenu" typeof="Menu">
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Coors Light</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.70</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Chieftain IPA</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.50</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Guinness</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.50</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Bottle of Rekorderlig</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.50</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Glass of wine (175ml)</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.10</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Bottega Prosecco (125ml)</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.35</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Spirits</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">3.70</span>
    </td>
  </tr>
</table>
