<table property="hasMenu" typeof="Menu">
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Edinburgh Festival</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.90</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Other pints</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.90</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Beer (330ml can)</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.00</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Spirits</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">3.70</span>
    </td>
  </tr>
</table>
