<table property="hasMenu" typeof="Menu">
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Pravha</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.90</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Guinness</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.70</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Pint of Chieftan IPA</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.70</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Bottle of Rekorderlig</th>
    <td property="offers" typeof="Offer">
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">5.50</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Glass of wine (125ml)</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">3.40</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Glass of wine (175ml)</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">4.70</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Glass of wine (250ml)</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">6.50</span>
    </td>
  </tr>
  <tr property="hasMenuItem" typeof="MenuItem">
    <th property="name">Spirits</th>
    <td property="offers" typeof="Offer">
      From
      <span property="priceCurrency" content="GBP">£</span>
      <span property="price">3.70</span>
    </td>
  </tr>
</table>
