<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">BBC</h2>
  <meta property="latitude" content="55.94523" />
  <meta property="longitude" content="-3.19317" />

  <div class="venue__meta">
    <span property="servesCuisine">Burgers, baguettes, wraps, drinks</span>
    &bull;
    <a property="url" href="https://www.bbc.co.uk/events/e2n3v2">bbc.co.uk</a>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">The BBC returns to its now-familiar home in the grounds of George Heriot's School. The standalone venue features indoor and outdoor stages, food and drink, and a large seating area with views of Edinburgh Castle.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/bbc-venue.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Steak burger</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Grilld halloumi and chorizo</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Steak baguette</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Wraps</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Tea and coffee</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pint of beer</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Glass of wine (175ml)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Spirits</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Soft drinks</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.00</span>
      </td>
    </tr>
  </table>
</article>
