<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">BlundaBus</h2>
  <meta property="latitude" content="55.94684" />
  <meta property="longitude" content="-3.18780" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Potterrow</span>
    &bull;
    <span property="servesCuisine">Drinks, baked potatoes</span>
    &bull;
    <a property="url" href="https://www.blundabus.com/">blundabus.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,13:00-23:00">Open every day, 1PM-11PM</time>

  <ul property="paymentAccepted">
    <li>Card (minimum £5)</li>
    <li>Contactless (minimum £5)</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
  </p>

  <p><span property="maximumAttendeeCapacity">74</span> person capacity</p>

  <p property="description">A bar/venue on a double-decker bus. A fringe classic.</p>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Baked potato with butter</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Baked potato with one topping</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Baked potato with two toppings</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Soft drinks (cans)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">1.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Coffee</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.50</span>
      </td>
    </tr>
  </table>
</article>
