<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Brewdog Cowgate</h2>
  <meta property="latitude" content="55.94838" />
  <meta property="longitude" content="-3.18967" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Cowgate</span>
    &bull;
    <span property="servesCuisine">Drinks, Pizza</span>
    &bull;
    <a property="url" href="https://www.brewdog.com/bars/uk/edinburgh">brewdog.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,12:00-01:00">Open every day, midday-1AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">Brewdog's permanent bar on Cowgate has expanded into the street for the fringe, expanding their capacity and offerings.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/brewdog-exterior.jpg" /></li>
  </ul>
</article>
