<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Bristo Square Prosecco Bar</h2>
  <meta property="latitude" content="55.94551" />
  <meta property="longitude" content="-3.18869" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-03:00">Open every day, 11AM-3AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">Pop-up prosecco and cocktail bar in the heart of Bristo Square with lovely (but inaccessible) balcony layer.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/bristo-square-prosecco-bar-exterior.jpg" /></li>
    <li><img src="../images/bristo-square-prosecco-bar-menu.jpg" /></li>
    <li><img src="../images/bristo-square-prosecco-bar-wide.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Prosecco</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Gordon's pink spritz</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Aperol spritz</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Mojito</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pornstar martini</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pink grapefruit collins</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
  </table>
</article>
