<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Bristo Square Bar</h2>
  <meta property="latitude" content="55.94559" />
  <meta property="longitude" content="-3.18843" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-03:00">Open every day, 11AM-3AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Long open-air bar serving a variety of beer, cider, wines and spirits.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/bristo-square-bar-concourse.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  ${require('../partials/underbelly-drinks-menu.html')}
</article>
