<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Cargo Spud</h2>
  <meta property="latitude" content="55.94398" />
  <meta property="longitude" content="-3.18758" />

  <div class="venue__meta">
    <span property="servesCuisine">Jacket potatoes, Poutine</span>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">No</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">Filled potatoes and poutine (Candian-style chips with gravy)</p>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Original jacket potato (bacon, cheddar, sour cream and spring onions)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pulled porky jacket potato (pulled pork, sour cream, spring onions and coleslaw)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Mushroom bolognese jacket potato (mushroom bolognese, cheddar, rocket, parmesan and aioli)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Poutine</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.50</span>
      </td>
    </tr>
  </table>
</article>
