<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">The Cheesy Toast Shack</h2>
  <meta property="latitude" content="55.94517" />
  <meta property="longitude" content="-3.18816" />

  <div class="venue__meta">
    <span property="servesCuisine">Toasties, Fries</span>
    &bull;
    <a property="url" href="https://twitter.com/thecheeseshack">@thecheeseshack</a>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">No</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">Comfort food on sourdough bread. Classic fringe scran.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/cheesy-toast-shack-bristo.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Toasties</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Fries</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Soft drinks</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Mac & cheese fries</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
  </table>
</article>
