<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">The Cow Shed</h2>
  <meta property="latitude" content="55.94813" />
  <meta property="longitude" content="-3.19189" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Cowgate</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
    &bull;
    <a property="url" href="https://www.facebook.com/The-Jeremiah-Weed-Cow-Shed-Edinburgh-Festival-504019086343844/">facebook.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-3:00">Open every day, 11AM-3AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
  </p>

  <p>At least <span property="maximumAttendeeCapacity">100</span> person capacity, but it's a bit of a squeeze at night.</p>

  <p property="description">Bar cum live music venue cum night club.</p>
</article>
