<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Crème Brûlée</h2>
  <meta property="latitude" content="55.94505" />
  <meta property="longitude" content="-3.18808" />

  <div class="venue__meta">
    <span property="servesCuisine">Crème brûlée, hot drinks</span>
    &bull;
    <a property="url" href="http://thecremacaravan.co.uk/">thecremacaravan.co.uk</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,12:00-22:00">Open every day, midday-10PM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">No</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">A variety of crème brûlée dishes and hot drinks</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/creme-brulee.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Crème brûlée</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Tea</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Coffee</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.50</span>
      </td>
    </tr>
  </table>
</article>
