<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Crepe Oress</h2>
  <meta property="latitude" content="55.94493" />
  <meta property="longitude" content="-3.18804" />

  <div class="venue__meta">
    <span property="servesCuisine">Crepes, Fries</span>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">No</span>
    <span property="name">shelter</span>
  </p>

  <p property="description">Freshly pressed sweet and savoury crepes</p>


  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Sweet crepe</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Savoury crepe</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Fries</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
  </table>
</article>
