<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Flatbreads & Mezze</h2>
  <meta property="latitude" content="55.94567" />
  <meta property="longitude" content="-3.18871" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Middle Eastern</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-23:00">Open every day, 11AM-11PM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Pick a meat or vegetarian flatbread dish, or your own selection of mezze.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/flatbreads-and-mezze.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Flatbread (chicken, haggis or veggie)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name" rowspan="3">Mezze dishes:<br>Hummus<br>Beetroot hummus<br>Flatbread<br>Hallumi fries<br>Baba ganoush<br>Tzatziki</th>
      <td property="offers" typeof="Offer">
        <span property="offerCount">2</span>
        dishes for
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <td property="offers" typeof="Offer">
        <span property="offerCount">3</span>
        dishes for
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <td property="offers" typeof="Offer">
        <span property="offerCount">4</span>
        dishes for
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
  </table>
</article>
