<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Garden Bar</h2>
  <meta property="latitude" content="55.94497" />
  <meta property="longitude" content="-3.18838" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Gilded Balloon</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,10:00-05:00">Open every day, 10AM-5AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description"></p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/garden-bar.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  ${require('../partials/gilded-drinks-menu.html')}
</article>
