<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Garden Café</h2>
  <meta property="latitude" content="55.94511" />
  <meta property="longitude" content="-3.18817" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Gilded Balloon</span>
    &bull;
    <span property="servesCuisine">Drinks, snacks, baguettes</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,10:00-05:00">Open every day, 10AM-5AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Lunch, snacks and hot drinks</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/gilded-balloon-garden-cafe.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Breakfast rolls</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Baguettes and hot wraps</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.25</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Traybakes and pastries</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.20</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Muffins</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.10</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Americano</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.30</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cappuccino, Latte, Mocha, Hot Chocolate</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.60</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Tea</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">1.40</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cans of beer (330ml)</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00</span>
      </td>
    </tr>
  </table>
</article>
