<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Pizza</h2>
  <meta property="latitude" content="55.94490" />
  <meta property="longitude" content="-3.18827" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Gilded Balloon</span>
    &bull;
    <span property="servesCuisine">Pizza</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,10:00-05:00">Open every day, 10AM-5AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Range of fairly standard pizzas by the slice</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/gilded-balloon-pizza.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Margherita</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Veg Inferno</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pepperoni</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">BBQ Chicken</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Hawaiian</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
  </table>
</article>
