<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Prosecco Bar</h2>
  <meta property="latitude" content="55.94510" />
  <meta property="longitude" content="-3.18846" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Gilded Balloon</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
  </div>

  <time property="openingHours" datetime="Mo-Su,10:00-05:00">Open every day, 10AM-5AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Permanent</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Prosecco and wine by the glass or bottle. Plus prosecco cocktails.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/gilded-balloon-prosecco-bar.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Bottega (125ml)</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.35</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cocktails</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cans of beer (330ml)</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Glass of wine (175ml)</th>
      <td property="offers" typeof="Offer">
        From
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.80</span>
      </td>
    </tr>
  </table>
</article>
