<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Ginger & Chilli</h2>
  <meta property="latitude" content="55.94534" />
  <meta property="longitude" content="-3.18847" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Indian</span>
    &bull;
    <a property="url" href="http://gingerandchilli.com/">gingerandchilli.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-23:00">Open every day, 11AM-11PM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Glasgow-based Indian street food specialists serving up curries and tacos.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/ginger-and-chilli.jpg" /></li>
    <li><img src="../images/ginger-and-chilli-menu.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Chicken makhani</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Keralan chana aloo masala</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">7.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Kati roll taco</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">8.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Far far</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.50</span>
      </td>
    </tr>
  </table>
</article>
