<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Harry's hot dog hut</h2>
  <meta property="latitude" content="55.94531" />
  <meta property="longitude" content="-3.18862" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo square</span>
    &bull;
    <span property="servesCuisine">Hot dogs</span>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">🌭 Dawwwwwwwwwwwwwgs 🌭</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/harrys-hot-dog-hut.jpg" /></li>
    <li><img src="../images/harrys-hot-dog-hut-menu.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Classic hot dog</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Double dog</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Bratwurst</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Veggie dog</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Rosemary fries</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
  </table>
</article>
