<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Mimi's Bakehouse</h2>
  <meta property="latitude" content="55.94569" />
  <meta property="longitude" content="-3.18860" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Bakery</span>
    &bull;
    <a property="url" href="https://mimisbakehouse.com/">mimisbakehouse.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-23:00">Open every day, 11AM-11PM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">Edinburgh favourite Mimi's Bakehouse provides an easily accessible opportunity for sweets, cakes and shakes.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/mimis-bakehouse.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Savoury french toast</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.00-6.20</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Sweet french toast</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">6.00-6.20</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name" rowspan="2">Ice cream</th>
      <td property="offers" typeof="Offer">
        <span property="offerCount">1</span>
        scoop for
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.60</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <td property="offers" typeof="Offer">
        <span property="offerCount">2</span>
        scoops for
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Milkshake (vanilla, strawberry, chocolate, caramel)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cake shakes (red velvet, chocolate fudge, mint aero, strawberry palova)</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">5.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Iced filter coffee</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Fairtrade filter coffee</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.40</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Teapigs tea</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.20</span>
      </td>
    </tr>
  </table>
</article>
