<article vocab="https://schema.org" typeof="BarOrPub">
  <h2 class="venue__name" property="name">Slangevar</h2>
  <meta property="latitude" content="55.94851" />
  <meta property="longitude" content="-3.18999" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Cowgate</span>
    &bull;
    <span property="servesCuisine">Drinks, Burgers</span>
    &bull;
    <a property="url" href="https://www.slangevaredinburgh.com/">slangevaredinburgh.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,08:00-03:00">Open every day, 8AM-3AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
  </p>

  <p><span property="maximumAttendeeCapacity">80</span> person capacity</p>

  <p property="description">A popup bar in the back of the Cowgate Hostel (with a 10% discount for guests). As the branding is keen to tell you, "Slangevar" is Gaelic for cheers.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/slangevar-interior.jpg" /></li>
    <li><img src="../images/slangevar-taps.jpg" /></li>
    <li><img src="../images/slangevar-drink-menu.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pint of Guinness</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Pint of Caledonia Best/Budweiser/Tennants</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.10</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Glass of wine</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">4.45</span>
      </td>
    </tr>
  </table>
</article>
