<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Union Brew Lab</h2>
  <meta property="latitude" content="55.94544" />
  <meta property="longitude" content="-3.18838" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Drinks, coffee</span>
    &bull;
    <a property="url" href="https://www.unionroasted.com/">unionroasted.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-23:00">Open every day, 11AM-11PM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
    nearby
  </p>

  <p property="description">A variety of hot drinks. Unclear if related to the nearby "Brew Lab" coffee shop.</p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/union-brew-lab.jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Espresso</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Macchiato</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.70</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Flat white</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.90</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cappuccino</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Latte</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Hot chocolate</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.10</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Mocha</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.40</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">English breakfast/earl grey tea</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.50</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Lemon verbena/japanese green tea</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.70</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cold brew black coffee</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">2.90</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cold brew white coffee</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.00</span>
      </td>
    </tr>
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">Cold brew chocolate</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">3.40</span>
      </td>
    </tr>
  </table>
</article>
