<article vocab="https://schema.org" typeof="FoodEstablishment">
  <h2 class="venue__name" property="name">Whyte and Mackay Surprisingly Smooth Fringe Bar</h2>
  <meta property="latitude" content="55.94513" />
  <meta property="longitude" content="-3.18925" />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place">Bristo Square</span>
    &bull;
    <span property="servesCuisine">Drinks</span>
    &bull;
    <a property="url" href="http://www.whyteandmackay.com/exclusive-sponsor-of-comedy/#dram">whyteandmackay.com</a>
  </div>

  <time property="openingHours" datetime="Mo-Su,11:00-03:00">Open every day, 11AM-3AM</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">Temporary</span>
    <span property="name">shelter</span>
  </p>

  <p><span property="maximumAttendeeCapacity">100</span> person capacity</p>

  <p property="description">Quieter outside space tucked away behind McEwan Hall.</p>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    ${require('../partials/underbelly-drinks-menu.html')}
  </table>
</article>
