<article vocab="https://schema.org" typeof="FoodEstablishment|BarOrPub">
  <h2 class="venue__name" property="name"></h2>
  <meta property="latitude" content="55.." />
  <meta property="longitude" content="-3.." />

  <div class="venue__meta">
    <span property="containedInPlace" typeof="Place"></span>
    &bull;
    <span property="servesCuisine"></span>
    &bull;
    <a property="url" href=""></a>
  </div>

  <time property="openingHours" datetime="Mo-Su">Open every day</time>

  <ul property="paymentAccepted">
    <li>Card</li>
    <li>Contactless</li>
    <li>Cash</li>
  </ul>

  <p property="amenityFeature" typeof="LocationFeatureSpecification">
    <span property="value">No</span>
    <span property="name">shelter</span>
  </p>

  <p><span property="maximumAttendeeCapacity"></span> person capacity</p>

  <p property="description"></p>

  <h3>Photos</h3>
  <ul class="venue__gallery">
    <li><img src="../images/...jpg" /></li>
  </ul>

  <h3>Menu</h3>
  <table property="hasMenu" typeof="Menu">
    <tr property="hasMenuItem" typeof="MenuItem">
      <th property="name">...</th>
      <td property="offers" typeof="Offer">
        <span property="priceCurrency" content="GBP">£</span>
        <span property="price">...</span>
      </td>
    </tr>
  </table>
</article>
