.map {
  height: 100vh;
  width: 100vw;
}

/* Overwrite leaflet typography for bigger labels */
.leaflet-container {
  font-size: .85rem;
}

/* Marker icons */
.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.marker-icon--food { color: #c0392b; }
.marker-icon--drink { color: #5070ad; }
.marker-icon--location { color: #43a047; }

/* Marker containers */
.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
}
.leaflet-popup-content { margin: 0; }

.marker-container {
  padding: 1rem;
}

.marker-container--linked {
  cursor: pointer;
}

.marker-container > :first-child {
  margin-top: 0;
}

/* Make images in popups fit the popup width */
.marker-container > img {
  display: block;
  max-width: 100%;
  max-width: calc(100% + 2rem);
  margin: 0 -1rem -1rem;
}
