[typeof="Menu"] {
  width: 100%;
  border-collapse: collapse;
}

[typeof="Menu"] th, [typeof="Menu"] td, [typeof="Menu"] caption {
  padding: .25rem .5rem;
  border: 1px solid #CCC;
}

[typeof="Menu"] caption {
  border-bottom-width: 0;
  background-color: #f0c8c8;
  font-size: .85rem;
}

[typeof="Menu"] th {
  font-weight: 600;
  text-align: left;
}
