
/* Modals */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 0%, 0.5);
  padding: 1rem;
  overflow: auto;
  z-index: 1000;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow: auto;
  z-index: 1005;
}

.modal__container[hidden] {
  display: none;
}

.modal {
  max-width: 700px;
  margin: auto;
  border-radius: .25rem;
  background-color: #FFF;
}

.modal__header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #CCC;
}

.modal__title {
  margin: 0;
  flex: auto;
}

.modal__dismiss {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.modal__content {
  padding: 1rem;
}

.modal__content > p:first-child { margin-top: 0; }
.modal__content > p:last-child { margin-bottom: 0; }
