@keyframes toast-enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toast-exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.toast__container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
  min-width: 300px;
  max-width: 500px;
}

.toast__container > .toast {
  position: static;
  margin-top: 1rem;
}

.toast {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  min-width: 300px;
  max-width: 400px;
  padding: .5rem 1rem;
  border-radius: 2px;
  background-color: #333;
  color: #FFF;
  font-size: .8rem;
  transform: translateZ(0);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  animation: toast-enter .25s ease-out
}

.toast--autohide {
  animation: toast-enter .25s ease-out, toast-exit .5s 2.25s ease-out forwards
}

.toast--danger {
    background-color: #d9534f
}
