/* Toolbar */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 500;
}

.toolbar__control {
  display: flex;
  align-items: center;
}

.toolbar__filters {
  background-color: #FFF;
}

.toolbar__filter {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: center;
  font-size: .85rem;
}

.toolbar__filter > select {
  padding: .25rem .5rem;
  flex: auto;
  margin-left: 1rem;
}

.toolbar__links {
  display: flex;
}

.toolbar__links > a {
  flex: 1;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar__control:hover, .toolbar__links > a:hover, .toggle__link--active {
  background-color: #FFF;
}

@media screen and (min-width: 800px) {
  .toolbar {
    top: 0;
    bottom: auto;
    left: auto;
    padding-bottom: 0;
  }
}
