.venue > [property="name"] {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.venue .venue__meta {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding: .25rem;
  background-color: #EEE;
  border-radius: 3px;
  color: #777;
  font-size: .8rem;
}

.venue [property="paymentAccepted"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.venue [property="paymentAccepted"]::before {
  content: '💷 ';
}

.venue [property="paymentAccepted"] > li {
  margin-left: .25rem;
  padding: .25rem;
  background-color: #EEE;
  border-radius: 3px;
  font-size: .8rem;
}

.venue [property="paymentAccepted"] > li::before {
  content: ' ✔️';
}

.venue .venue__gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.venue .venue__gallery > li {
  flex: auto;
}

.venue .venue__gallery > li + li {
  margin-left: .5rem;
}

.venue .venue__gallery > li  > img {
  max-width: 100%;
  max-height: 25vh;
  margin: 0;
  border: none;
  transition: transform .5s ease-in;
}
