body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  color: #333;
}

main {
  padding: 1rem;
}

@import './css/venue.css';
@import './css/menu.css';
@import './css/modal.css';
@import './css/map.css';
@import './css/toolbar.css';
@import './css/toast.css';
